<div class="dialog-container">
    <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="8px">
        <div class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>Forgot Username?</div>
            <button mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="email-form-container" mat-dialog-content>
            <form class="form-container" (ngSubmit)="submit()">
                <mat-form-field class="email-form" appearance="outline">
                    <input matInput [formControl]="emailFormControl" required name="email"
                        placeholder="Enter your email" />
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-buttons">
        <button mat-button [disabled]="emailFormControl.invalid" (click)="submit()">
            Submit
        </button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>

</div>